.Grade {
  display: flex;
  height: 500px;
  margin-top: 2vw;
}

.Level {
  border: 1px solid #b4b4ff;
  border-radius: 7px;
  text-align: center;
  width: 50vw;

  margin: 0 auto;
}

.levelT {
  display: flex;
  font-weight: bold;
  font-size: 25px;
}
