.background {
  display: flex;
}

.board {
  width: 60vw;
  margin: 0 auto;
  padding: 2vw 0 2vw 10vw;
}

.boardList {
  /* margin-top: 2vw; */
  /* border: 2px solid #B4B4FF; */
  border-radius: 7px;
}

.boardContent {
  display: flex;
  text-align: center;
  border: 1px solid #b4b4ff;
  padding: 2vw 0;
}

.boardBtn {
  width: 150px;
  text-align: center;
  margin: 2vw 4vw;
}

.writeBtn {
  width: 7vw;
  padding: 10px 0;
  background-color: #ad9aee;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

.heart {
  color: red;
  font-size: 25px;
}

.test {
  display: flex;
  text-align: center;
  margin-bottom: 1vw;
  padding: 1.5vw 0;
  border: 1px solid #ad9aee;
  border-radius: 7px;
}
.testn {
  font-size: 25px;
}

#totalBoard {
  margin-bottom: 2vw;
}
