.boardDetail {
  width: 60vw;
  margin: 0 auto;
}

.boardInfo {
  text-align: right;
  padding-left: 10vw;
}

.boardHead {
  display: flex;
  margin: 2vw 0;
}

.commentBtn {
  border: 1px solid black;
  border-radius: 7px;
}
