.userPage {
  width: 60vw;
  height: 500px;
  margin: 0 auto;
}
.userRank {
  /* width: 80%; */
  height: 50%;
  margin: 0 auto;
  display: flex;
}
.userIcon {
  width: 150px;
  padding-top: 4vw;
}

.userLevel {
  padding-top: 8%;
  font-size: 20px;
}
.userInfo {
  display: block;
  margin: 0 auto;
  padding: 20px 30px;
  line-height: 40px;
  font-size: 130%;
  border: 1px solid #8f7cee;
  border-radius: 7px;
  background-color: #8f7cee;
}

.userData {
  background-color: #8f7cee;
  color: white;
}

.bar {
  display: flex;
}

.barLevel {
  width: 4vw;
}

.StyledBase {
  height: 26px;
  border: 2px solid;
  margin-right: 15%;
  margin-left: 15%;
  justify-content: center;
  display: inline;
}

.StyledRange {
  height: 20px;
  background: linear-gradient(to right, #b4b4ff, #8f7cee);
}
